/* please warn me before closing this tab
 * it doesn't save */
div.box-wrapper {
  width: 100vw;
  height: 100vh;  /* <------ typically this would make a bug in mobile devices       */
  top: 0px;               /* but i don't care about mobile devices in the            */
  left: 0px;              /* first place                                             */
  position: absolute;
  text-align: center; /* turned out to not work :[ */
  background-color: #555;
  --box-height: 150px;
}
div.middle-box {
  display: inline-block;
  width: 250px;
  height: var(--box-height);
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  position: /* relatively */ absolute;
  border-radius: 5px;
  background-color: #fff8;
  backdrop-filter: blur(10px);
  text-align: center;
}
div.weapon-change {
  top: calc(15px + var(--box-height) + 15px);
  position: absolute;
}
